@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Доступ заборонено</h1>
    <p class="text-danger">Ви не маєте доступу до цієї сторінки. Якщо це помилка зверніться до адміністратора.</p>
</header>
