@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Підтверджння зміни паролю</h1>
<p>
    Ми надіслали Вам листа на електронну пошту для підтвердження. Будь ласка перевірте пошту.
</p>
