@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Відновлення паролю</h1>
<p>
    Ваш пароль відновлено.Будь ласка <a href="Account/Login">натисніть тут щоб увійти</a>.
</p>
